<nav id="topNav">
    <ul>
    <li><%= link_to 'Welcome', controller: 'welcome' %></li>
    <li><%= link_to 'New Recipe', controller: 'recipes', action: 'new' %></li>
    <li><%= link_to 'Recipe List', controller: 'recipes' %></li>
    </ul>
</nav>

<p>
<strong>Recipe Name</strong>
<%= @recipe.name %>
<br>
<strong>Author:</strong>
<%= @recipe.author %>
<br>
