<%= form_for :guide, url: guides_path do |f| %>
<p id="newRecipe">
   <br>
   <%= f.label :image %> <%= f.file_field :image %>
   <br><br>
   <%= f.label :name %> <%= f.text_field :name %>
   <br><br>
   <%= f.label :author %> <%= f.text_field :author %>
<br><br>
<br>
<%= f.label :difficulty %> <%= f.text_field :difficulty %>
<br><br>
<%= f.label :ingredients %> <%= f.text_area :ingredients %>
<br>
   <br><br>
   <%= f.submit %>
   <% end %>
</p>

<footer>
<%= "\u00A9" "2017 BitsPlease" %>
</footer>