<%= form_for :guide, url: guides_path do |f| %>
<p>
   <%= f.label :name %> <%= f.text_field :name %>
   <br>
   <%= f.label :author %> <%= f.text_field :author %>
<br><br>
   <%= f.submit %>
   <% end %>
</p>