<%= form_for :guide, url: guides_path do |f| %>
<p id="newRecipe">
   <br>
   <%= f.label :name %> <%= f.text_field :name %>
   <br><br>
   <%= f.label :author %> <%= f.text_field :author %>

<br><br>
   <%= f.submit %>
   <% end %>
</p>
