<h1>Edit Recipe</h1>
<nav id="topNav">
    <ul>
    <li><%= link_to 'Welcome', controller: 'welcome' %></li>
    <li><%= link_to 'New Recipe', controller: 'guides', action: 'new' %></li>
    <li><%= link_to 'Recipe List', controller: 'guides' %></li>
    </ul>
</nav>


<div id="recipeSteps">
<%= form_for :guide, url: guide_path(@guide), method: :patch do |f| %>
<p>
    <br>
   <%= f.label :image %> <%= f.file_field :image %>
   <br><br>
   <%= f.label :name %> <%= f.text_field :name %>
   <br><br>
   <%= f.label :author %> <%= f.text_field :author %>
<br><br>
<%= f.label :difficulty %> <%= f.text_field :difficulty %>
<br><br>
<%= f.label :ingredients %> <%= f.text_area :ingredients %>
<br>
<br><br>
<p>
   <%= f.submit %>
   </p>
   <% end %>
 
<h2>Steps</h2>
<% @guide.tasks.each do |task| %>
<p>
<br>
<%= task.body %>
</p>
<p>
    
    <%= link_to 'Delete Step', [task.guide, task],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

<h2>Add a Step:</h2>
<%= form_for([@guide, @guide.tasks.build]) do |f| %>
<p>
   <%= f.text_area :body %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>
<%= link_to 'Back', guides_path %>
</div>


<footer>
<%= "\u00A9" "2017 BitsPlease" %>
</footer>