<h1>Edit Recipe</h1>

<div id="recipeSteps"
<%= form_for :guide, url: guide_path(@guide), method: :patch do |f| %>
<p>
   <%= f.label :name %> <%= f.text_field :name %>
   <br><br>
   <%= f.label :author %> <%= f.text_field :author %>
<br>
<%= f.label :difficulty %> <%= f.text_field :difficulty %>
<br>
<%= f.label :ingredients %> <%= f.text_area :ingredients %>
<br>
<br><br>

   <%= f.submit %>
   <% end %>
 
<h2>Steps</h2>
<% @guide.tasks.each do |task| %>
<p>
<br>
<%= task.body %>
</p>
<p>
    <%= link_to 'Delete Step', [task.guide, task],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

<h2>Add a Step:</h2>
<%= form_for([@guide, @guide.tasks.build]) do |f| %>
<p>
   <%= f.text_area :body %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>
<%= link_to 'Save', guides_path %>
</div>


