<h1>Recipe List</h1>

<nav id="topNav">
    <ul>
    <li><%= link_to 'Welcome', controller: 'welcome' %></li>
    <li><%= link_to 'New Recipe', controller: 'guides', action: 'new' %></li>
    <li><%= link_to 'Recipe List', controller: 'guides' %></li>
    </ul>
</nav>
<strong><p><%= "Welcome to the Recipes List page. This is where you can view all of the recipes on this website." %>
<%= "As you can see, this page has the author of the recipe, name of said recipe, and the difficulty level
in an easy to view location. Along with those three bits of information, you can also edit, view, and delete the
recipe from this page." %></strong></p>

<table>
    <tr>
        <th>Recipe Image</th>
        <th>Recipe Name</th>
        <th>Author</th>
        <th>Difficulty</th>
    </tr>
    
    <% @guide.each do |guide| %>
    <tr>
        <td><%= image_tag guide.image.url(:thumb) %></td>
        <td><%= guide.name %></td>
        <td><%= guide.author %></td>
        <td><%= guide.difficulty %></td>
        <td><%= link_to 'Show', guide_path(guide) %>
        <%= link_to 'Edit', edit_guide_path(guide) %>
        <%= link_to 'Destroy',
                                guide_path(guide),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
        </td>
    </tr>
    <% end %>
</table>

<footer>
<%= "\u00A9" "2017 BitsPlease" %>
</footer>