<h1>New Recipe</h1>

<nav id="topNav">
    <ul>
    <li><%= link_to 'Welcome', controller: 'welcome' %></li>
    <li><%= link_to 'New Recipe', controller: 'guides', action: 'new' %></li>
    <li><%= link_to 'Recipe List', controller: 'guides' %></li>
    </ul>
</nav>
<strong> <p><%= "Welcome to the New Recipes page. This is where you can start creating your new recipe." %>
<%= "Please fill out the form completely with you name as author, the name of your recipe, difficulty level and all the
neccessary ingredients" %></p></strong>
<%= render 'form' %>

<footer>
<%= "\u00A9" "2017 BitsPlease" %>
</footer>