<nav id="topNav">
    <ul>
    <li><%= link_to 'Welcome', controller: 'welcome' %></li>
    <li><%= link_to 'New Recipe', controller: 'guides', action: 'new' %></li>
    <li><%= link_to 'Recipe List', controller: 'guides' %></li>
    </ul>
</nav>

<p>
<strong>Recipe Name</strong>
<%= @guide.name %>
<br>
<strong>Author:</strong>
<%= @guide.author %>
<br>

<h2>Steps</h2>
<% @guide.tasks.each do |task| %>
<p>
<br>
<%= task.body %>
</p>
<% end %>