<h1>UNCC Recipes Book</h1>

<nav id="topNav">
    <ul>
    <li><%= link_to 'Welcome', controller: 'welcome' %></li>
    <li><%= link_to 'New Recipe', controller: 'guides', action: 'new' %></li>
    <li><%= link_to 'Recipe List', controller: 'guides' %></li>
    </ul>
</nav>

<div id="showRecipe"
<p>
<strong>Recipe Name</strong>
<%= @guide.name %>
<br>
<strong>Author:</strong>
<%= @guide.author %>
<br>
<strong>Difficulty:</strong>
<%= @guide.difficulty %>
<br>
<strong>Ingredients:</strong>
<%= @guide.ingredients %>
<br>

<h2>Steps</h2>
<% @guide.tasks.each do |task| %>
<p>
<br>
<%= task.body %>
</p>
<% end %>

<h2>Comments</h2>
<% @guide.comments.each do |comment| %>
<p>
    <strong>Commenter Name:</strong>
    <%= comment.commenter %>
</p>
<p>
<strong>Comment:</strong>
    <%= comment.body %>
</p>
<p>
    <%= link_to 'Delete Comment', [comment.guide, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

<h2>Add a Comment:</h2>
<%= form_for([@guide, @guide.comments.build]) do |f| %>
<p>
    <%= f.label :commenter %>
    <%= f.text_field :commenter %>
    
</p>
<p>
    <%= f.label :body %>
    <%= f.text_area :body %>
</p>


<p>
    <%= f.submit %>
</p>
<% end %>
<%= link_to 'Back', guides_path %>
</div>

<%= "\u00A9" "2017 BitsPlease" %>